*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #000;
  font-family: 'Nobile', sans-serif;
  color: #eee;
}

.container {
  position: relative;
  padding: 2em;
  min-height: 100vh;

  @media screen and (min-width:1024px) {
    padding: 2em calc((100vw - 1024px) / 2 + 2em);
  }

  &:first-of-type {
    display: grid;
    grid-template-rows: 10% 30% auto;
  }

  h1 {
    text-align: center;
    margin-top: 2em;
    font-size: 3em;
    font-weight: normal;
    line-height: .9em;
  }

  p {
    line-height: 1.5em;
    color: rgb(190, 190, 190);
  }

  .line {
    align-self: end;
    width: 50%;
    border-right: 1px solid white;
    height: 50%;
    margin-bottom: 4em;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: white transparent transparent;
      right: -.65em;
      bottom: -2px;
    }

    @media (orientation:landscape) {
      margin-bottom: 2em;
    }

    @media (orientation:landscape) and (min-width:1024px) {
      margin-bottom: 7em;
    }

    @media (orientation: portrait) and (min-height: 800px) {
      margin-bottom: 10em;
    }
  }

}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -3em;
  z-index: 1;
}

.background {
  position: absolute;
  top: -16px;
  right: -12px;
  background-color: #000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: -1;
}

.logo {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
}

.burger {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

h2 {
  margin: 0;
  font-size: 3em;
  font-weight: normal;
}

.subtext {
  margin-top: 0;
  font-size: 1.4em;
  text-transform: uppercase;
}

.secondary {
  margin-top: -3em;
}

.mountains,
.forest {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.mountains {
  top: 0;
}

.forest {
  top: 60%;
}

@media (orientation:portrait) and (min-height:800px) {
  .forest {
    top: 50%;
  }
}

.species {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-height: 500px;
  max-width: 300px;
  margin-bottom: 20px;

  img {
    display: block;
    max-width: 80%;
  }
}

.contact {
  display: flex;
  flex-wrap: wrap;

  * {
    flex-basis: calc(100% - 50px);
  }

  h1,
  .subtext {
    flex-basis: 100%;
  }

  .icon {
    flex-basis: 30px;
    display: inline-block;
    width: 30px;
    margin: 20px 20px 20px 0;
  }
}